* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Barlow', sans-serif;
    background-image: radial-gradient(circle farthest-corner, hsl(214, 47%, 23%),hsl(237, 49%, 15%));
    color:  white;
    font-size: 30px;
    font-weight: bold;
}

header{
    margin: 20px;
}

.dark-text{
    color: hsl(229, 25%, 31%);
    font-size: 50px;
    font-weight: bold;
}

.score-text{
    color: hsl(229, 64%, 46%);  
    font-size: 20px;
    font-weight: bolder;
}

.header-outline{
    color: hsl(217, 16%, 45%);
}

.container{
    width: 1024px;
    margin: 0 auto;
}
  .board{
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: space-between;
      vertical-align: top;
      padding: 30px;
  }

  .game-movement{
      width: 180px;
      height: 180px;
      cursor: pointer;
      
  }

  .game-movement img{
    width: 90%;
    height: 90%;
    cursor: pointer;
    
}

  .container p{
      text-align: center;
      display: block;
  }

  header{
      display: flex;
      justify-content: space-between;
      border: solid 2px white;
      padding: 10px;
      border-radius: 10px;
      vertical-align: top;

  }

  #machine_move{
      filter: grayscale(1);
  }

  header .score{
      background-color: white;
      color: black;
      width: 100px;
      height: 100px;
      border-radius: 10px;
  }

  .container .app-name{
      text-align: left;
  }

  section{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 30px;
  }

  section h1{
      padding: 20px;
  }

  footer{
      display: flex;
      align-items: baseline;
      justify-content: space-evenly;
      padding: 10px;
  }

  .btn-help{
      text-decoration: none;
      font-size: 20px;
      font-weight: bolder;
      border: white 1px solid;
      border-radius: 10px;
      color: white;
      vertical-align: top;
      padding: 10px;
  }
  .attribution { 
      font-size: 11px; text-align: center; 
      vertical-align: top;
      padding: 20px;

    }
  .attribution a { 
      color: hsl(228, 45%, 44%); 
    }

    .modal{
        position: fixed;
        top: -100vh;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0, 0, 0.75);   
        padding-top: 10%;
        opacity: 0;
        transition: opacity 0.35s ease;
    }

    .modal .modal-help{
        margin: 0 auto;
        width: 350px;
        height: 370px;
        background-color: white;
        text-align: center;
        overflow: hidden;
        border-radius: 15px;
    }

    .modal img{
       display: block;
       margin: 20px;
    }

    .modal .close-modal{
        background-color: rgb(163, 72, 7);
        color:white;
        border: white 2px solid;
        border-radius: 50%;
        text-decoration: none;
        font-size: 24px;
        font-weight: bolder;
        margin-top: 15px;
        padding: 10px;
        line-height: 24px;
    }

    .modal .close-modal:hover{
        background-color: rgb(245, 107, 9);
    }

    .modal:target {
        top:0;
        opacity: 1;
    }

    @media (min-width:1001px){
        header .score{
            height: 120px;
            width: 120px;
        }
    }

    @media (max-width:1000px){
        body{
            font-size: 24px;
        }
        .game-movement{
            width: 100px;
            height: 100px;
            cursor: pointer;
        }

        .container{
            width: 100vw;
            margin: 0 auto;
        }

        footer{
            flex-direction: column-reverse;
            align-items: center;
        }

    }

    @media(max-width:500px){
        body{
            font-size: 20px;            
        }

        .container{
            height: 90vh;
        }

        header .score{
            height: 75px;
            width: 75px;
        }

        .dark-text{
            font-size: 35px;
        }
        
        section h1{
            font-size: 14px;
        }

        .modal .modal-help{
            top:20vh;
            width: 90%;
        }

    }